.admin{
    display: flex;
}
.admin-nav{
    width: 100%;
    padding: 20px 0;
}
.admin-nav div{
    border-right: 1px solid grey;
    padding: 0 2%;
     box-sizing: border-box;
     align-items: center;
}
.admin-nav img{
    width: 80%;
}
.admin-main{
    width: 70%;
}

/*  */

.box-active{
    background: gray;
}