.flex{
    display: flex;
}
header{
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #fff5ef;
    height: 80px;
}

.header{
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.header__Left{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 20px;
}
.header__Left-logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__Left-logo img{
    width: 100%;
}

.header__Left ul li{
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
}
.header-list{
    width: 20%;
}

ul{
    list-style: none;
    align-items: center;
}
/*  */
.header__Nav{
    display: none;
}
.header__Nav svg{
    font-size: 30px;
}
.nav__mobile{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav__mobile a{
    display: flex;
    /* width: 80%; */
    color: black;
    padding: 15px 0;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.5s ease-out;
}
.nav__mobile a:hover {
    color: #eb6844;
    border: 1px solid #eb6844;
}
.nav__mobile li{
    align-items: center;
    display: flex;
}

.nav__mobile li svg{
    padding: 0 20px;
}

.nav__mobile ul:nth-last-child(1){
    display: flex;
    justify-content: space-between;
}

/*  */
.header__list ul{
    width: 20%;
    width: 100%;
}
.header__list ul li{
    padding-left: 20px;
}
.header__list ul li svg{
    font-size:30px;
}

.header__offSet{
    background: #FFFF;
}

header a{
    color: black;
}

@media only screen and (max-width: 786px) {
    
    .header__Nav{
        width: 20%;
        display: flex;
        align-items: center;
    }

    .header__Left{
        justify-content: center !important;
        width: 50%;
    }

    .header__Left-logo{
        width: 50%;
    }

    .header__Left ul{
        display: none;
    }

    .header__list{
        width: 30%;
    }

    .header__list ul{
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 576px) {

    .header__list{
        display: none;
    }

    .header__Nav{
        width: 20%;
    }

    .header__Left{
        justify-content: flex-end !important;
        padding: 0;
        width: 80%;
    }

    .header__Left-logo{
        width: 40%;
    }
}